* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  height: auto;
}

body .main {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px auto;
  width: 780px;
  background: #ffFFff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: auto;
}

body header {
  display: flex;
  flex-direction: column;
  Width: 780px;
  Height: 178px;
  box-sizing: border-box;
  Padding: 0px 0px 0px 0px;
  mix-blend-mode: through;
  background-color: #ffFFff;
}

body .info {
  display: flex;
  width: 670px;
  height: 48px;
  margin: 0 55px 0 55px;
  padding: 16px 0 16px 0;
  box-sizing: border-box;
  background-color: #ffFFff;
  justify-content: space-between;
}

body .greenInfo {
  color: green;
}

body .contacts {
  width: 375px;
  display: flex;
  justify-content: space-between;
}

body .otherInfo {
  width: 197px;
  display: flex;
  justify-content: space-between;
}

body .forUser {
  margin-left: 55px;
  background-color: #ffFFff;
  Width: 670px;
  Height: 110px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  mix-blend-mode: through;
}

body .forUser .logo {
  width: 670px;
}

body .research {
  display: flex;
  width: 500px;
  justify-content: space-between;
  height: 42px;
  align-self: center;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  align-items: center;
  padding: 0px 16px 0 16px;
}

.categories {
  width: auto;
  position: relative;
  display: flex;
  gap: 8px;
}

.categories .contentCat {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px !important;
  line-height: 22px;
  color: #151515;
}

.categories img {
  transition: transform .21s linear;
}

.categories:hover img {
  transform: rotate(-180deg);
}

.categories:hover .menuWrap {
  list-style-type: none;
  position: absolute;
  padding: 4px 8px 4px 8px;
  display: flex;
  visibility: visible;
  flex-direction: column;
  gap: 9px;
  z-index: 20;
  top: 100%;
  width: 156px;
  left: -24px;
}

.categories:hover .menuWrap .space {
  height: 10px;
}

.categories:hover .menuWrap .pointsWrap {
  display: flex;
  height: auto;
  width: 100%;
  gap: 8px;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #d2d2d2;
  backdrop-filter: blur(4px);
  background-color: RGBA(23%, 23%, 23%, 0.79) !important;
}

.categories:hover .menuWrap .pointsWrap li {
  height: 20px;
}

.categories:hover .menuWrap .pointsWrap li:hover {
  background-color: RGBA(2%, 70%, 2%, 0.35);
}

.categories:hover .menuWrap .pointsWrap li a:enabled,
.categories:hover .menuWrap .pointsWrap li a {
  font-family: 'Poppins';
  font-size: 13.5px;
  color: #f5f5f5 !important;
}

.categories .menuWrap {
  list-style-type: none;
  position: absolute;
  padding: 4px 8px 4px 8px;
  transition: top .05s linear;
  visibility: hidden;
  flex-direction: column;
  gap: 9px;
  z-index: 20;
  top: 1000%;
  width: 146px;
  left: -16px;
}

.categories .menuWrap .space {
  height: 30px;
}

.categories .menuWrap .pointsWrap {
  display: flex;
  height: auto;
  width: auto;
  gap: 8px;
  flex-direction: column;
}

body .search {
  Width: 262px;
  Height: 19px;
  Font-family: Open Sans;
  font-size: 15.5px;
  font-weight: 400;
  background-color: 780px;
  border: 0px solid white;
}

body .prof_and_basket {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 88px;
  height: 31px;
}

body .prof_and_basket img {
  width: 24px;
  height: 24px;
}

body .firstInfo {
  margin: 64px 55px 64px 55px;
  Width: 670px;
  Height: 870px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
}

body .categoryMenu {
  margin: 14.5px 0px 14.5px 0px;
  Width: 269px;
  Height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .Menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  color: #151515;
}

body ul {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7px;
  padding: 0px;
  width: 269px;
  height: 112px;
  list-style-type: none;
}

body ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  color: #6A983C;
}

body .more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  position: static;
  width: 179px;
  height: 48px;
  left: 0px;
  bottom: 0px;
  background: #F5F5F5;
  border-radius: 12px;
  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
  margin: 48px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16.5px;
  line-height: 22px;
  color: #151515;
}

body .more svg {
  margin-left: 10px;
  transform: rotate(-90deg);
}

body .more svg path {
  stroke: black;
}

body .headingRec {
  max-width: 419px;
  width: 100%;
  height: 280px;
  position: relative;
}

body .headingRec img {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}

body .headingRec span {
  z-index: 1;
  position: absolute;
}

body .headingRec span:first-child {
  top: 45px;
  width: 100px;
  left: 33px;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13.5px;
  line-height: 18px;
}

body .headingRec span:nth-child(2) {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 23.5px;
  line-height: 33px;
  top: 74px;
  left: 33px;
}

body .headingRec .readRec {
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 163px;
  height: 47px;
  border: 2px solid #92C064;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16.5px;
  line-height: 22px;
  justify-content: space-between;
}

body .headingRec .readRec img {
  width: 14px;
  height: 14px;
  transform: rotate(-90deg);
  position: relative;
}

body .headingRec .readRec:hover {
  background-color: RGBA(255, 255, 255, 0.75);
  backdrop-filter: blur(1px);
}

body .products {
  margin: 64px 55px 64px 55px;
  height: 1342px;
  max-width: 670px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  width: 269px;
  position: relative;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  height: 323px;
  background-color: #ffFFff;
}

body .product img {
  width: 237px;
  height: 180px;
  display: block;
}

body .product button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 90px;
  height: 36px;
  right: 16px;
  bottom: 20px;
  background: #6A983C;
  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14.5px;
  line-height: 22px;
  color: #FFFFFF;
}

body .product button:hover {
  transform: scale(1.011);
}

body .product button:hover:active {
  transform: scale(0.978);
}

body .product .wrapper {
  width: 236px;
  height: 45px;
}

body .sale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  position: absolute;
  width: 54px;
  height: 18px;
  left: 28px;
  top: 28px;
  background: #F4F8EC;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15.5px;
  line-height: 18px;
  color: #6A983C;
}

body .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5px;
  line-height: 22px;
  color: #151515;
}

body .description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 16px;
  color: #575757;
}

body .cost {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  color: #151515;
  position: absolute;
  bottom: 20px;
  left: 16px;
}

body div[name="wrapper"] {
  height: 43px;
}

body .preCost {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13.5px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
  position: absolute;
  bottom: 10px;
  left: 16px;
}

body .sections {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 670px;
  width: 100%;
  flex-wrap: wrap;
  height: 1380px;
  margin: 0px 55px 0px 55px;
  background-color: #ffFFff;
}

body .caption {
  display: flex;
  justify-content: center;
  height: 27px;
  width: 300px;
  position: static;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  color: #151515;
}

body .blogs {
  width: 670px;
  margin: 0px 55px 0px 55px;
  padding-bottom: 64px;
  box-sizing: border-box;
  height: 850px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body .blogsWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  height: 800px;
  width: 670px;
  position: static;
  gap: 16px;
}

body .mainBlog {
  background-image: url("../IMG/j-scrr7LqOc.jpg");
  border-radius: 12px;
  max-width: 469px;
  width: 100%;
  position: relative;
  display: flex;
  align-self: center;
  align-items: flex-end;
  Height: 400px;
  padding: 24px;
  box-sizing: border-box;
}

body .mainBlog .type {
  left: 24px;
  top: 24px;
}

body .type {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13.5px;
  line-height: 18px;
  color: #6A983C;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  width: 82px;
  height: 18px;
  background: #F4F8EC;
  border-radius: 12px;
}

body .infoAboutProd {
  Width: 421px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  Height: 106px;
}

body .descriptionProd {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 23.5px;
  line-height: 33px;
  color: #FFFFFF;
}

body .userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

body .userName {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 16px;
  color: #FFFFFF;
}

body .infoAboutUser {
  flex-wrap: nowrap;
  width: 156px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 16px;
  width: 77px;
  color: #FFFFFF;
}

body .avrBlog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  padding: 0px;
  width: 269px;
  background-color: #ffFFff;
  height: 343px;
}

body .avrBlog div[name='wraps'] {
  height: 78px;
  width: 40px;
}

body .avrBlog img {
  width: 269px;
  height: 180px;
  border-radius: 12px;
}

body .avrBlog .infoBlock {
  width: 267px;
  height: 100px;
  margin: 0px;
}

body .avrBlog .descriptionProd {
  color: #151515;
  text-align: justify;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  display: flex;
  height: 84px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body .avrBlog .userName,
body .avrBlog .date {
  color: black;
}

body .avrBlog .type {
  top: 204px;
}

body .smallWrap {
  width: 369px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .smallWrap .smallBlog {
  Width: 369px;
  background-color: #ffFFff;
  display: flex;
  justify-content: space-between;
  Height: 96px;
}

body .smallWrap .smallBlog .descriptionProd {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16.5px;
  line-height: 22px;
  color: #151515;
  Width: 225px;
  Height: 46px;
}

body .smallWrap [name=wrapperForText] {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .smallWrap [name=wrapperForText] [name=wrapperOfUserInfo] {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

body .smallWrap [name=wrapperForText] span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 16px;
  color: #151515;
}

body .smallWrap .prodLogo {
  border-radius: 12px;
  order: 2;
  width: 96px;
  height: 96px;
}

body footer {
  width: 670px;
  height: 650px;
  background-color: #ffFFff;
  margin: 0px 55px 0px 55px;
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body footer .productTags {
  Width: 594px;
  Height: 300px;
  background-color: #ffFFff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  gap: 16px;
}

body footer .productTags span {
  position: static;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  align-self: center;
  color: #151515;
}

body footer .productTags .tag {
  padding: 5px 14px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16.5px;
  line-height: 18px;
  color: #151515;
}

body footer .productTags .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

body footer .Contacts {
  display: flex;
  justify-content: space-between;
  width: 670px;
  flex-wrap: wrap;
  height: 167px;
}

body footer .Contacts section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 167px;
}

body footer .Contacts section:nth-child(3), body footer .Contacts section:nth-child(4) {
  height: 132px;
}

body footer .Contacts section a {
  display: block;
  height: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 19px;
  text-decoration: none;
  color: #6A983C;
}

body footer .Contacts section .contactTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 27px;
  color: #151515;
}

body footer .producer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 19px;
  color: #151515;
}
