@font-face {
  font-family: 'Poppins';
  src: url("Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("Fonts/Open_Sans/OpenSans-Regular.ttf");
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  padding: 0 8px;
}

body main {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 0px auto;
  max-width: 412px;
  width: 100%;
  padding: 0 1px;
  background: #ffFFff;
  box-shadow: none;
  height: auto;
}

body main header {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 412px;
  width: 100%;
  Height: 178px;
  box-sizing: border-box;
  Padding: 0px 0px 0px 0px;
  mix-blend-mode: through;
  background-color: #ffFFff;
}

body main header .info {
  display: none;
  flex: 1;
  flex-shrink: 0;
  gap: 16px;
  flex-wrap: wrap;
  width: 410px;
  height: auto;
  margin-left: 1px;
  padding: 16px 0 16px 0;
  box-sizing: border-box;
  background-color: #ffFFff;
  justify-content: space-between;
}

body main header .info span {
  font-size: 20px;
}

body main header .otherInfo {
  width: 197px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

body main header .forUser {
  margin-left: 1px;
  background-color: #ffFFff;
  Width: 410px;
  Height: auto;
  gap: 16px;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: through;
}

body main header .research {
  display: flex;
  flex-shrink: 0;
  flex: 1;
  width: 500px;
  justify-content: space-between;
  height: 42px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  align-items: center;
  padding: 0px 16px 0 16px;
}

body main header .allCateg {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  height: 42px;
  line-height: 22px;
  color: #151515;
}

body main header .search {
  Width: 240px;
  Height: 19px;
  Font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  background-color: 412px;
  border: 0px solid white;
}

body main header .prof_and_basket {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 88px;
  height: 31px;
}

body main header .prof_and_basket img {
  width: 24px;
  height: 24px;
}

body main header .categories {
  width: auto;
  position: relative;
  display: flex;
  gap: 8px;
}

body main header .categories .contentCat {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px !important;
  line-height: 22px;
  color: #151515;
}

body main header .categories img {
  transition: transform .21s linear;
}

body main header .categories:hover img {
  transform: rotate(-180deg);
}

body main header .categories:hover .menuWrap {
  list-style-type: none;
  position: absolute;
  padding: 4px 8px 4px 8px;
  display: flex;
  visibility: visible;
  flex-direction: column;
  gap: 9px;
  z-index: 20;
  top: 100%;
  width: 156px !important;
  left: -24px;
}

body main header .categories:hover .menuWrap .space {
  height: 10px;
}

body main header .categories:hover .menuWrap .pointsWrap {
  display: flex;
  height: auto;
  width: 100%;
  gap: 8px;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #d2d2d2;
  backdrop-filter: blur(4px);
  background-color: RGBA(23%, 23%, 23%, 0.79) !important;
}

body main header .categories:hover .menuWrap .pointsWrap li {
  height: 20px;
}

body main header .categories:hover .menuWrap .pointsWrap li:hover {
  background-color: RGBA(2%, 70%, 2%, 0.35);
}

body main header .categories:hover .menuWrap .pointsWrap li a:enabled,
body main header .categories:hover .menuWrap .pointsWrap li a {
  font-family: 'Poppins';
  font-size: 13px !important;
  color: #f5f5f5 !important;
}

body main header .categories .menuWrap {
  list-style-type: none;
  position: absolute;
  padding: 4px 8px 4px 8px;
  transition: top .05s linear;
  visibility: hidden;
  flex-direction: column;
  gap: 9px;
  z-index: 20;
  top: 1000%;
  width: 146px;
  left: -16px;
}

body main header .categories .menuWrap .space {
  height: 30px;
}

body main header .categories .menuWrap .pointsWrap {
  display: flex;
  height: auto;
  width: auto;
  gap: 8px;
  flex-direction: column;
}

body main footer {
  width: 410px;
  height: auto;
  flex-wrap: wrap;
  gap: 32px;
  background-color: #ffFFff;
  margin: 0px 1px 0px 1px;
  padding: 64px 0px 64px 0px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body main footer .info {
  display: flex;
}

body main footer .info {
  flex: 1;
  display: flex !important;
  flex-shrink: 0;
  width: 400px;
  gap: 16px;
  flex-wrap: wrap;
  width: 410px;
  height: auto;
  margin-left: 1px;
  padding: 16px 0 16px 0;
  box-sizing: border-box;
  background-color: #ffFFff;
  justify-content: space-between;
}

body main footer .info span {
  font-size: 20px;
}

body main footer .info .greenInfo {
  color: green;
}

body main footer .info .contacts {
  width: 375px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

body main footer .info .otherInfo {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

body main footer .productTags {
  width: 280px;
  height: auto;
  background-color: #ffFFff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

body main footer .productTags span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  color: #151515;
  height: auto;
  display: block;
}

body main footer .productTags .tag {
  padding: 5px 14px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #151515;
}

body main footer .productTags .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

body main footer .Contacts {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: auto;
  width: 410px;
  height: auto;
}

body main footer .Contacts section {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 167px;
}

body main footer .Contacts section:nth-child(3), body main footer .Contacts section:nth-child(4) {
  height: 132px;
}

body main footer .Contacts section a {
  display: block;
  height: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  text-decoration: none;
  color: #6A983C;
}

body main footer .Contacts section .contactTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  color: #151515;
}

body main footer .producer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  color: #151515;
}

body main .homepage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 48px;
  align-items: center;
  width: 410px;
  height: 100%;
}

body main .homepage .homepage_content {
  display: flex;
  Width: auto;
  Height: 15px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

body main .homepage .homepage_content .homepage_content_title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .homepage .homepage_content .slash {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D1D1D1;
}

body main .homepage .homepage_content .homepage_content_subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #151515;
}

body main .wrap-of-reg {
  max-width: 410px;
  width: 100%;
  margin: 0px 1px 0px 1px;
  flex-wrap: wrap;
  display: flex;
  gap: 32px;
}

body main .wrap-of-reg .entered-datas {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  width: 100%;
  gap: 64px;
}

body main .wrap-of-reg .basket {
  max-height: 800px;
  box-sizing: border-box;
  height: auto;
  max-width: 468px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 32px 16px;
}

body main .wrap-of-reg .basket .summ-and-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 4px;
}

body main .wrap-of-reg .basket .summ-and-desc .content-sum {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

body main .wrap-of-reg .basket .summ-and-desc .content-desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .wrap-of-reg .basket .summary-cost {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

body main .wrap-of-reg .basket .summary-cost .diff-cost {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .wrap-of-reg .basket .summary-cost .diff-cost span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .basket .total-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

body main .wrap-of-reg .basket .total-order span:first-child {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .basket .total-order span.summary-cost-content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: right;
  color: #6A983C;
}

body main .wrap-of-reg .basket .products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

body main .wrap-of-reg .basket .products .product-wrap {
  display: flex;
  width: 100%;
  gap: 16px;
}

body main .wrap-of-reg .basket .products .product-wrap .product {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

body main .wrap-of-reg .basket .products .product-wrap .product .product_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

body main .wrap-of-reg .basket .products .product-wrap .product .costs {
  width: auto;
  padding-right: 4px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

body main .wrap-of-reg .basket .products .product-wrap .product .costs .cost {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  color: #6A983C;
}

body main .wrap-of-reg .basket .products .product-wrap .product .costs .precost {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

body main .wrap-of-reg .basket .products .product-wrap .product .made-by tr td:nth-child(1) {
  font-family: 'Open Sans';
  font-style: normal;
  width: 80px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .wrap-of-reg .basket .products .product-wrap .product .made-by tr td:nth-child(2) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

body main .wrap-of-reg .basket .products .product-wrap .action-on-prod {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

body main .wrap-of-reg .basket .products .product-wrap .action-on-prod .prod-logo {
  background: #F9F9F9;
  border-radius: 12px;
  width: 100px;
  object-fit: cover;
  height: 67px;
}

body main .wrap-of-reg .basket .products .product-wrap .action-on-prod .action {
  display: flex;
  gap: 7px;
}

body main .wrap-of-reg .basket .products .product-wrap .action-on-prod .action img {
  cursor: pointer;
}

body main .wrap-of-reg .basket .products .product-wrap .action-on-prod .action span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .wrap-of-reg .additional-info .title-and-input {
  width: 100% !important;
}

body main .wrap-of-reg .additional-info .title-and-input .textarea {
  width: 100% !important;
  height: 112px !important;
}

body main .wrap-of-reg .all-inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

body main .wrap-of-reg .all-inputs .radio-and-title-and-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background: #F9F9F9;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

body main .wrap-of-reg .all-inputs .radio-and-title-and-img .radio-and-title {
  display: flex;
  gap: 16px;
  align-items: center;
}

body main .wrap-of-reg .all-inputs .radio-and-title-and-img .radio-and-title .isCard {
  border: 231.5px solid #151515;
  width: 20px;
  height: 20px;
}

body main .wrap-of-reg .all-inputs .radio-and-title-and-img .radio-and-title span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs {
  background: #FFFFFF;
  padding: 16px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .card-info-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .card-info-wrapper .title-and-input {
  width: auto;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .card-info-wrapper .title-and-input:first-child input {
  max-width: 350px;
  width: 350px;
  flex: 1;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .card-info-wrapper .title-and-input:nth-child(2) input {
  width: 120px;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .card-info-wrapper .title-and-input:nth-child(3) input {
  width: 120px;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card .span-and-radio {
  display: flex;
  gap: 16px;
  align-items: center;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card .span-and-radio .isCard {
  background: #6A983C;
  border: 231.5px solid #6a983c;
  width: 20px;
  height: 20px;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card .span-and-radio span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card .visa-or-master {
  width: 94px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

body main .wrap-of-reg .all-inputs .wrap-of-inputs .credit-card .visa-or-master img {
  height: 16px;
  width: auto;
}

body main .wrap-of-reg .confirmation .datas-protections {
  width: 213px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body main .wrap-of-reg .confirmation .datas-protections .shield {
  width: 32px;
  height: 32px;
}

body main .wrap-of-reg .confirmation .datas-protections span:nth-child(2) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .confirmation .datas-protections span:nth-child(3) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .wrap-of-reg .confirmation .complete {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  background: #6A983C;
  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 56px;
  color: white;
}

body main .wrap-of-reg .confirmation .agree-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

body main .wrap-of-reg .confirmation .agree-wrap .checkbox-and-span:first-child {
  max-width: 578px;
  width: 100%;
}

body main .wrap-of-reg .confirmation .agree-wrap .checkbox-and-span:nth-child(2) {
  max-width: 433px;
  width: 100%;
}

body main .wrap-of-reg .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

body main .wrap-of-reg .info .title-and-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

body main .wrap-of-reg .info .title-and-steps .title-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

body main .wrap-of-reg .info .title-and-steps .steps {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

body main .wrap-of-reg .info .title-and-steps .steps span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

body main .wrap-of-reg .info .enterData {
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body main .wrap-of-reg .info .checkbox-and-span {
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  height: 42px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 243px;
}

body main .wrap-of-reg .info .checkbox-and-span input {
  border: 1.5px solid #D1D1D1;
  width: 20px;
  height: 20px;
}

body main .wrap-of-reg .info .checkbox-and-span .button-content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

body main .wrap-of-reg .info .title-and-input {
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 60px;
}

body main .wrap-of-reg .info .title-and-input .title-of-input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

body main .wrap-of-reg .info .title-and-input .entered-input {
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  height: 42px;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-indent: 21px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  color: #151515;
}

body main .wrap-of-reg .info .title-and-input .entered-input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
