@import url("before1370.css") (max-width: 1230px) and (min-width: 769px);
@import url("indexXR414.css") (max-width: 769px) and (min-width: 165px);
$measureDist: auto;
$mainBG: #ffFFff; // white
$widthBlocks: 1170px;
$sizeText: 12px;
$mainWidth: 1280px;
$marginLeft: ($mainWidth - $widthBlocks) / 2;
@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

.info {
    display: block;
}

main {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px $measureDist;
    width: $mainWidth;
    background: $mainBG;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    Width: $mainWidth;
    Height: 178px;
    box-sizing: border-box;
    Padding: 0px 0px 0px 0px;
    mix-blend-mode: through;
    background-color: $mainBG;
}

.info {
    display: flex;
    flex-shrink: 0;
    width: $widthBlocks;
    height: 48px;
    margin-left: $marginLeft;
    padding: 16px 0 16px 0;
    box-sizing: border-box;
    background-color: $mainBG;
    justify-content: space-between;
}

.greenInfo {
    color: green;
}

.contacts {
    width: 375px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.otherInfo {
    width: 197px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.forUser {
    margin-left: $marginLeft;
    background-color: $mainBG;
    Width: $widthBlocks;
    Height: 130px;
    // Padding: 0px 40px 0px 40px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: through;
}

.research {
    display: flex;
    flex-shrink: 0;
    width: auto;
    gap: 24px;
    justify-content: space-between;
    height: 42px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    align-items: center;
    padding: 0px 16px 0 16px;
}

.categories {
    width: auto;
    position: relative;
    display: flex;
    gap: 8px;
    .contentCat {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
    }
    img {
        transition: transform .21s linear;
    }
    &:hover {
        img {
            transform: rotate(-180deg);
        }
        .menuWrap {
            list-style-type: none;
            position: absolute;
            padding: 4px 8px 4px 8px;
            display: flex;
            visibility: visible;
            flex-direction: column;
            gap: 9px;
            z-index: 20;
            top: 0%;
            width: 130px + 13px;
            left: -24px;
            //background-color: #46760A;
            .space {
                height: 100px;
                background-color: #151515;
                width: 100px;
            }
            .pointsWrap {
                display: flex;
                height: auto;
                width: 100%;
                gap: 8px;
                flex-direction: column;
                border-radius: 5px;
                padding: 8px;
                border: 1px solid #d2d2d2;
                backdrop-filter: blur(4px);
                background-color: RGBA(93%, 93%, 93%, 0.09);
                li {
                    height: 20px;
                    &:hover {
                        background-color: RGBA(2%, 70%, 2%, 0.35);
                        border-radius: 3px;
                    }
                    a:enabled,
                    a {
                        font-family: 'Poppins';
                        font-size: $sizeText - 0px;
                        color: #151515;
                    }
                }
            }
        }
    }
    .menuWrap {
        list-style-type: none;
        position: absolute;
        padding: 4px 8px 4px 8px;
        transition: top .05s linear;
        visibility: hidden;
        flex-direction: column;
        gap: 9px;
        z-index: 20;
        top: 1000%;
        width: 130px + 86px;
        left: -16px;
        // background-color: #46760A;
        .space {
            height: 100px;
            width: 100px;
            visibility: hidden;
        }
        .pointsWrap {
            display: flex;
            height: auto;
            width: auto;
            gap: 8px;
            flex-direction: column;
        }
    }
}

.search {
    Width: 262px;
    Height: 19px;
    Font-family: Open Sans;
    font-size: $sizeText + 2px;
    font-weight: 400;
    background-color: $mainWidth;
    border: 0px solid white;
    outline: none;
}

.prof_and_basket {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 88px;
    height: 31px;
    img {
        width: 24px;
        height: 24px;
    }
}

.firstInfo {
    margin: 64px $marginLeft 64px $marginLeft;
    background-color: $mainBG;
    Width: $widthBlocks;
    Height: 280px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-shrink: 0;
}

.categoryMenu {
    margin: 14.5px 0px 14.5px 0px;
    Width: 269px;
    Height: 251px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.Menu {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText +6px;
    line-height: 27px;
    color: #151515;
}

ul {
    display: flex;
    flex-shrink: 0;
    margin-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    padding: 0px;
    width: 269px;
    height: 112px;
    list-style-type: none;
    li {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: $sizeText +2px;
        color: #6A983C;
    }
}

.more {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px;
    position: static;
    width: 179px;
    height: 48px;
    left: 0px;
    bottom: 0px;
    background: #F5F5F5;
    border-radius: 12px;
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 48px 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: $sizeText +3px;
    line-height: 22px;
    color: #151515;
    svg {
        margin-left: 10px;
        transform: rotate(-90deg);
        path {
            stroke: black;
        }
    }
}

.headingRec {
    Width: 419px;
    height: 280px;
    position: relative;
    img {
        width: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
    }
    span {
        z-index: 1;
        position: absolute;
        &:first-child {
            top: 45px;
            width: 120px;
            left: 33px;
            display: block;
            font-family: Poppins;
            color: #6A983C;
            font-style: normal;
            font-weight: 600;
            font-size: $sizeText;
            line-height: 18px;
        }
        &:nth-child(2) {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            color: black;
            font-size: $sizeText +10px;
            line-height: 33px;
            top: 74px;
            left: 33px;
        }
    }
    .readRec {
        z-index: 20;
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        position: absolute;
        bottom: 32px;
        left: 32px;
        width: 163px;
        height: 47px;
        border: 2px solid #92C064;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: $sizeText +3px;
        line-height: 22px;
        justify-content: space-between;
        img {
            width: 14px;
            height: 14px;
            transform: rotate(-90deg);
            position: relative;
        }
        &:hover {
            background-color: RGBA(255, 255, 255, 0.75);
            backdrop-filter: blur(1px);
        }
    }
}

.products {
    margin: 64px $marginLeft 64px $marginLeft;
    height: 480px - 128px;
    width: $widthBlocks;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    width: 269px;
    position: relative;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    height: 323px;
    background-color: $mainBG;
    img {
        width: 237px;
        height: 180px;
        display: block;
    }
    button {
        &:hover {
            transform: scale(1.011);
            &:active {
                transform: scale(0.978);
            }
        }
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        position: absolute;
        width: 90px;
        height: 36px;
        right: 16px;
        bottom: 20px;
        background: #6A983C;
        border: 2px solid #46760A;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: $sizeText+1px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .wrapper {
        width: 236px;
        height: 45px;
    }
}

.sale {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    position: absolute;
    width: 54px;
    height: 18px;
    left: 28px;
    top: 28px;
    background: #F4F8EC;
    border-radius: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText +2px;
    line-height: 18px;
    color: #6A983C;
}

.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: $sizeText +3px;
    line-height: 22px;
    color: #151515;
}

.description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: $sizeText;
    line-height: 16px;
    color: #575757;
}

.cost {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText +6px;
    line-height: 27px;
    color: #151515;
    position: absolute;
    bottom: 20px;
    left: 16px;
}

div[name="wrapper"] {
    height: 43px;
}

.preCost {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
    position: absolute;
    bottom: 10px;
    left: 16px;
}

.sections {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: $widthBlocks;
    height: 530px;
    margin: 0px $marginLeft 0px $marginLeft;
    background-color: $mainBG;
}

.caption {
    position: absolute;
    display: block;
    top: 70px;
    left: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText +6px;
    line-height: 27px;
    color: #151515;
}

.blogs {
    width: $widthBlocks;
    margin: 0px $marginLeft 0px $marginLeft;
    padding-bottom: 64px;
    box-sizing: border-box;
    height: 596px;
    position: relative;
}

.blogsWrapper {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    height: 400px;
    width: $widthBlocks;
    position: absolute;
    top: 132px;
}

.mainBlog {
    background-image: url("../IMG/j-scrr7LqOc.jpg");
    // background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 12px;
    // background-color: #11aa11;
    Width: 469px;
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    Height: 400px;
    .type {
        left: 24px;
        top: 24px;
    }
    padding: 24px;
    box-sizing: border-box;
}

.type {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText;
    line-height: 18px;
    color: #6A983C;
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    width: 82px;
    height: 18px;
    background: #F4F8EC;
    border-radius: 12px;
}

.infoAboutProd {
    Width: 421px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    Height: 106px;
}

.descriptionProd {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: $sizeText +10px;
    line-height: 33px;
    color: #FFFFFF;
}

.userAvatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.userName {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: $sizeText;
    line-height: 16px;
    color: #FFFFFF;
}

.infoAboutUser {
    flex-wrap: nowrap;
    width: 156px;
    height: 32px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: $sizeText;
    line-height: 16px;
    width: 77px;
    color: #FFFFFF;
}

.avrBlog {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    padding: 0px;
    width: 269px;
    background-color: $mainBG;
    height: 343px;
    div[name='wraps'] {
        height: 78px;
        width: 40px
    }
    img {
        width: 269px;
        height: 180px;
        border-radius: 12px;
    }
    .infoBlock {
        width: 267px;
        height: 100px;
        margin: 0px;
    }
    .descriptionProd {
        color: #151515;
        text-align: justify;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: $sizeText +6px;
        line-height: 27px;
        display: flex;
        flex-shrink: 0;
        height: 84px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .userName,
    .date {
        color: black;
    }
    .type {
        top: 204px;
    }
}

.smallWrap {
    width: 369px;
    height: 352px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    .smallBlog {
        Width: 369px;
        background-color: $mainBG;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        Height: 96px;
        .descriptionProd {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: $sizeText +3px;
            line-height: 22px;
            color: #151515;
            Width: 225px;
            Height: 46px;
        }
    }
    [name=wrapperForText] {
        order: 1;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        [name=wrapperOfUserInfo] {
            width: 140px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
        }
        span {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: $sizeText;
            line-height: 16px;
            color: #151515;
        }
    }
    .prodLogo {
        border-radius: 12px;
        order: 2;
        width: 96px;
        height: 96px;
    }
}

footer {
    width: $widthBlocks;
    height: 556px;
    background-color: $mainBG;
    margin: 0px $marginLeft 0px $marginLeft;
    padding: 64px 0px 64px 0px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .productTags {
        Width: $mainWidth - $marginLeft - 131px;
        Height: 111px;
        background-color: $mainBG;
        position: relative;
        span {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: $sizeText +6px;
            line-height: 27px;
            color: #151515;
        }
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        .tag {
            padding: 5px 14px;
            background: #F5F5F5;
            border-radius: 12px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: $sizeText +3px;
            line-height: 18px;
            color: #151515;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 16px;
        }
    }
    .Contacts {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        width: $widthBlocks;
        height: 167px;
        section {
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            justify-content: space-between;
            height: 167px;
            &:nth-child(3),
            &:nth-child(4) {
                height: 132px;
            }
            a {
                display: block;
                height: 19px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: $sizeText +2px;
                line-height: 19px;
                text-decoration: none;
                color: #6A983C;
            }
            .contactTitle {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: $sizeText +6px;
                line-height: 27px;
                color: #151515;
            }
        }
    }
    .producer {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: $sizeText +2px;
        line-height: 19px;
        color: #151515;
    }
}