@import url("prodBefore1200.css") (max-width: 1200px) and (min-width: 421px);
@import url("prod420.css") (max-width: 420px) and (min-width: 0);
$measureDist: auto;
$mainBG: #ffFFff; // white
$widthBlocks: 770px;
$sizeText: 13px;
$mainWidth: 980px;
$marginLeft: ($mainWidth - $widthBlocks) / 2;
@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('Fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

body main {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
    margin: 0px $measureDist;
    width: $mainWidth;
    background: $mainBG;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: auto;
    header {
        display: flex;
        flex: 1;
        flex-direction: column;
        Width: $mainWidth;
        Height: 178px;
        box-sizing: border-box;
        Padding: 0px 0px 0px 0px;
        mix-blend-mode: through;
        background-color: $mainBG;
        .info {
            display: flex;
            flex-shrink: 0;
            width: $widthBlocks;
            height: 48px;
            margin-left: $marginLeft;
            padding: 16px 0 16px 0;
            box-sizing: border-box;
            background-color: $mainBG;
            justify-content: space-between;
        }
        .greenInfo {
            color: green;
        }
        .contacts {
            width: 375px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
        }
        .otherInfo {
            width: 197px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
        }
        .forUser {
            margin-left: $marginLeft;
            background-color: $mainBG;
            Width: $widthBlocks;
            Height: 130px;
            // Padding: 0px 40px 0px 40px;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            mix-blend-mode: through;
        }
        .research {
            display: flex;
            flex-shrink: 0;
            width: 500px;
            justify-content: space-between;
            height: 42px;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
            border-radius: 12px;
            align-items: center;
            padding: 0px 16px 0 16px;
        }
        .categories {
            width: auto;
            position: relative;
            display: flex;
            gap: 8px;
            .contentCat {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #151515;
            }
            img {
                transition: transform .21s linear;
            }
            &:hover {
                img {
                    transform: rotate(-180deg);
                }
                .menuWrap {
                    list-style-type: none;
                    position: absolute;
                    padding: 4px 8px 4px 8px;
                    display: flex;
                    visibility: visible;
                    flex-direction: column;
                    gap: 9px;
                    z-index: 20;
                    top: 100%;
                    width: 130px + 26px;
                    left: -24px;
                    // background-color: #46760A;
                    .space {
                        height: 10px;
                    }
                    .pointsWrap {
                        display: flex;
                        height: auto;
                        width: auto;
                        gap: 8px;
                        flex-direction: column;
                        border-radius: 5px;
                        padding: 8px;
                        border: 1px solid #d2d2d2;
                        backdrop-filter: blur(4px);
                        background-color: RGBA(23%, 23%, 23%, 0.79) !important;
                        li {
                            height: 20px;
                            &:hover {
                                background-color: RGBA(2%, 70%, 2%, 0.35);
                            }
                            a:enabled,
                            a {
                                font-family: 'Poppins';
                                font-size: $sizeText - 0px;
                                color: #f5f5f5 !important;
                            }
                        }
                    }
                }
            }
            .menuWrap {
                list-style-type: none;
                position: absolute;
                padding: 4px 8px 4px 8px;
                transition: top .05s linear;
                visibility: hidden;
                flex-direction: column;
                gap: 9px;
                z-index: 20;
                top: 1000%;
                width: 130px + 16px;
                left: -16px;
                // background-color: #46760A;
                .space {
                    height: 30px;
                }
                .pointsWrap {
                    display: flex;
                    height: auto;
                    width: auto;
                    gap: 8px;
                    flex-direction: column;
                }
            }
        }
        .search {
            Width: 262px;
            Height: 19px;
            Font-family: Open Sans;
            font-size: $sizeText + 2px;
            font-weight: 400;
            background-color: $mainWidth;
            border: 0px solid white;
        }
        .prof_and_basket {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            width: 88px;
            height: 31px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    footer {
        width: $widthBlocks;
        height: auto;
        gap: 32px;
        background-color: $mainBG;
        margin: 0px $marginLeft 0px $marginLeft;
        padding: 64px 0px 64px 0px;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .productTags {
            width: $mainWidth - $marginLeft - 131px;
            height: auto;
            background-color: $mainBG;
            span {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: $sizeText +6px;
                line-height: 27px;
                color: #151515;
                height: auto;
                display: block;
            }
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            flex-shrink: 0;
            .tag {
                padding: 5px 14px;
                background: #F5F5F5;
                border-radius: 12px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: $sizeText +3px;
                line-height: 18px;
                color: #151515;
            }
            .tags {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 16px;
            }
        }
        .Contacts {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            width: $widthBlocks;
            height: 167px;
            section {
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                justify-content: space-between;
                height: 167px;
                &:nth-child(3),
                &:nth-child(4) {
                    height: 132px;
                }
                a {
                    display: block;
                    height: 19px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: $sizeText +2px;
                    line-height: 19px;
                    text-decoration: none;
                    color: #6A983C;
                }
                .contactTitle {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: $sizeText +6px;
                    line-height: 27px;
                    color: #151515;
                }
            }
        }
        .producer {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: $sizeText +2px;
            line-height: 19px;
            color: #151515;
        }
    }
    .homepage {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 48px;
        align-items: center;
        width: $widthBlocks;
        height: 100%;
        .homepage_content {
            display: flex;
            Width: auto;
            Height: 15px;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            .homepage_content_title {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: $sizeText;
                line-height: 16px;
                color: #A9A9A9;
            }
            .slash {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #D1D1D1;
            }
            .homepage_content_subtitle {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: $sizeText;
                line-height: 16px;
                color: #a9a9a9;
            }
            .homepage_content_subtitle2 {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: $sizeText;
                line-height: 16px;
                color: #151515;
            }
        }
    }
    .main_product {
        margin-top: 12px;
        width: $widthBlocks;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 32px;
        flex: 1;
        flex-wrap: wrap;
        .main_product_photos {
            width: 569px;
            display: flex;
            height: 1374px;
            // flex: 0 1;
            position: relative;
            justify-content: space-between;
            flex-direction: column;
            .main_product_pluses {
                position: absolute;
                top: 12px;
                left: 12px;
                width: auto;
                height: 26px;
                display: flex;
                gap: 12px;
                .plus {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    background: #F4F8EC;
                    border-radius: 12px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: flex;
                    align-items: center;
                    color: #6A983C;
                }
            }
            .photo {
                width: 569px;
                height: 436px;
                display: flex;
                // flex: 1;
                background: #F9F9F9;
                border-radius: 12px;
                object-fit: cover;
            }
        }
        .main_product_content {
            width: 574px;
            height: auto;
            gap: 40px;
            display: flex;
            flex-direction: column;
            // flex: 1;
            .main_product_descr {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 23px;
                /* C1/A */
                color: #151515;
            }
            .main_product_info {
                .title_info {
                    .info_desc:nth-child(2) {
                        padding: 20px 0;
                    }
                    .info_desc {
                        padding-top: 8px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: #151515;
                    }
                    span {
                        /* S5/Default */
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 22px;
                        /* identical to box height */
                        /* C1/A */
                        color: #151515;
                    }
                }
            }
            .main_product_CostAndBuy {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 80px;
                .addToCart {
                    width: 140px;
                    height: 47px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 22px;
                    cursor: pointer;
                    color: #FFFFFF;
                    //   padding: 4px 14px;
                    background: #6A983C;
                    /* C2/B */
                    border: 2px solid #46760A;
                    box-sizing: border-box;
                    border-radius: 12px
                }
                .main_product_cost {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .preCost {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        /* identical to box height */
                        display: flex;
                        align-items: flex-end;
                        text-decoration-line: line-through;
                        /* C1/C */
                        color: #A9A9A9;
                    }
                    .cost {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        /* identical to box height */
                        /* C2/A */
                        color: #6A983C;
                    }
                }
            }
            .main_product_spec {
                display: flex;
                gap: 32px;
                table {
                    width: 270px;
                    tr {
                        td:first-child {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            /* identical to box height */
                            /* C1/C */
                            color: #A9A9A9;
                        }
                        td:nth-child(2) {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            /* identical to box height */
                            /* C1/A */
                            color: #151515;
                            span {
                                color: #6A983C !important;
                            }
                        }
                    }
                }
            }
            .titleAndStars {
                display: flex;
                gap: 8px;
                flex-direction: column;
                .main_product_title {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 140%;
                    color: #151515;
                }
            }
        }
    }
    .wrapper_products {
        margin-top: 70px;
        display: flex;
        gap: 37px;
        align-items: flex-start;
        flex-direction: column;
        .caption {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            /* C1/A */
            color: #151515;
        }
        .products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: $widthBlocks;
            width: 100%;
            flex: 1 1 268px;
            gap: 32px;
        }
    }
    .product {
        width: 268px;
        height: 360px;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        position: relative;
        .sale {
            position: absolute;
            padding: 4px 8px 4px 8px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            background: #F4F8EC;
            border-radius: 12px;
            top: 28px;
            left: 36px;
            color: #6A983C;
        }
        .product_logo {
            background: #F9F9F9;
            border-radius: 12px;
            Width: 236px;
            Height: 180px;
            object-fit: cover;
        }
        .product_info {
            width: 236px;
            height: 132px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .product_title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                color: #151515;
                height: 23px;
            }
            .product_description {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                height: 16px;
                color: #575757;
            }
            .product_stars {
                height: 16px;
                width: 88px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nostar {
                    path {
                        fill: white !important;
                        stroke: #D1D1D1;
                    }
                }
                .blstar {
                    path {
                        fill: #151515 !important;
                    }
                }
            }
            .cost_precost_buttonBuy {
                width: 236px;
                height: 45px;
                display: flex;
                justify-content: space-between;
                .costs {
                    width: auto;
                    padding-right: 4px;
                    height: 45px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    .cost {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: $sizeText +6px;
                        line-height: 27px;
                        color: #151515;
                    }
                    .precost {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: $sizeText;
                        line-height: 18px;
                        text-decoration-line: line-through;
                        color: #A9A9A9;
                    }
                }
                .buttonBuy {
                    background: #6A983C;
                    border: 2px solid #46760A;
                    box-sizing: border-box;
                    width: 90px;
                    height: 36px;
                    border-radius: 12px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    cursor: pointer;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
    }
}